/* Custom Styles for College of Business Landing Page Template */

body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #ebebeb;*/
	background-color: #e3e3e3 !important;
}

/* Typography */

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	/*font-size: 150%;*/
}

h1 {
	color: #3b0b3d;
	margin: 50px 0;
}

h1 small {
	/*font-size: 30px;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #33c2df;
}

h2 {
	/*font-size: 36px;*/
	color: #330333 !important;
}

	.hero-right h2 {
		color: #ffffff;
	}

h3 {
	color: #33C2DF !important;
}


p {
	font-weight: 300;
}

p.rsvp {
	font-weight: 300;
	font-style: italic;
}

/* Container */
.container {
  background: #ffffff !important;
  width: 600px !important;
}


/* Progress Bar */
.progress bar {
  margin: 20px 50px 50px 50px;
  padding: 5px 20px 20 px 20;
}

/* Form Edits*/
.form {
  margin: 20px 0px 0px 50px !important;
  padding:  -10px 0px 10px 10px;
  font-size: 120%;
  
}

/* Button and Labels */

.btn-primary,
.btn-primary:hover {
	background-color: #33c2df !important;
    font-size: 110%;
	border: none;
	font-weight: bold;
    border-radius: 2px !important;
    padding: 10px 100px;
    margin: 10px 0px 60px -50px;
}

.label-primary {
	background-color: #ffcc33 !important;
	color: #303;
	text-transform: uppercase;
	font-weight: bold;
}


	@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 992px) {

    }



/* Footer */

.footer {
	background-color: #330033 !important;
	color: #303;
    padding: 20px;
    width: 100%;
}

	.footer .bold {
		color: rgba(255, 255, 255, 1);
		font-weight: bold;
	}

	.footer .light {
		color: rgba(255, 255, 255, 0.7);
	}

	.footer .large {
		font-size: 175%;
	}

	.footer hr {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
	}


.footer-container {
	margin-bottom: 75px;
}

	.footer-container div {
		margin-top: 25px;
		margin-bottom: 25px;
	}




/* Responsive Styles */

/* Mobile */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	
  	h1, h2, h3, h4, h5 {
			font-size: 130%;
		}

}

/* Tablets */

	@media only screen and (min-width : 768px) {
		h1, h2, h3, h4, h5 {
			font-size: 130%;
		}

		h1 {
			text-align: right;
			margin-top: 25px;
		}
    }

	@media (min-width: 768px) and (orientation:landscape)  {
		h1 {
			text-align: left;
		}
	}

/* Desktop */

@media only screen and (min-width : 992px) {
	h1 {
		font-size: 200%;
	}
	h1 small {
		font-size: 75%;
		color: #818285;
	}
	h2,h3,h4,h5 {
		font-size: 175%;
	}
}
