/* Custom Styles for College of Business Landing Page Template */

body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #ebebeb;*/
	background-color: #e3e3e3 !important;
}

/* Typography */

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	/*font-size: 150%;*/
}

h1 {
	color: #3b0b3d;
	margin: 50px 0;
}

h1 small {
	/*font-size: 30px;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	font-weight: 300;
	color: #33c2df;
}

h2 {
	/*font-size: 36px;*/
	color: #330333 !important;
}

	.hero-right h2 {
		color: #ffffff;
	}

h3 {
	color: #33C2DF !important;
}

.hero h3 {
	text-transform: uppercase;
	font-size: 110%;
	font-weight: 700;
	color: #33c2df;
	letter-spacing: 2px;
}

p {
	font-weight: 300;
}

p.rsvp {
	font-weight: 300;
	font-style: italic;
}

/* Container */
.container {
  background: #ffffff !important;
  width: 600px !important;
}


/* Progress Bar */
.progress bar {
  margin: 20px 50px 50px 50px;
  padding: 5px 20px 20 px 20;
}

/* Form Edits*/
.form {
  margin: 20px 0px 0px 50px !important;
  padding:  -10px 0px 10px 10px;
  font-size: 120%;
  
}

/* Button and Labels */

.btn-primary,
.btn-primary:hover {
	background-color: #33c2df !important;
    font-size: 110%;
	border: none;
	font-weight: bold;
    border-radius: 2px !important;
    padding: 10px 100px;
    margin: 10px 0px 60px -50px;
}

.label-primary {
	background-color: #ffcc33 !important;
	color: #303;
	text-transform: uppercase;
	font-weight: bold;
}

/* Hero  */

.hero hr {
	width: 50px;
	border: 2px solid #ffcc33;
}

.hero-flex {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.hero-left {
	/* Background photo hidden due to text flow and z-index. */
	/*background: url(../_img/model.png) bottom right no-repeat;
	background-position-x: 110%;
	min-height: 425px;*/
	padding: 50px 15px;
	background-color: #ebebeb;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1 0 25%;
	-ms-flex: 1 0 25%;
	flex: 1 0 25%;

	text-align: center;
}

	@media only screen and (min-width : 992px) {
		.hero-left {
			padding-left: 50px;
		}
    }

	.hero-left ul {
		list-style: none;
		margin-bottom: 25px;
		padding: 0;
		font-size: 125%;
		font-weight: 300;
	}

	.hero-left li {
		border-top: 1px solid #b3a4b3;
		padding: 15px 0;
	}

	.hero-left li:first-child {
		border-top: none;
	}

.hero-right {
	background-color: #3b0b3d;
	color: #fff;
	text-align: center;
	min-height: 100%;

	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-o-box-flex: 0;
	box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;

	padding: 50px 0;
}

	.hero-right > h2 {
		margin-top: 0;
	}

	.hero-right div.event {
		color: rgba(255, 255, 255, 0.5);
		margin: 25px 0;
		font-size: 150%;
		font-weight: 300;
	}

	.hero-right div.webinar {
		margin: 15px 0;
	}

@media only screen and (min-width : 992px) {
		.hero-padding {
			padding-top: 87px;
		}
    }



/* Footer */

.footer {
	background-color: #330033 !important;
	color: #303;
  padding: 20px;
}

	.footer .bold {
		font-weight: bold;
        color: ffffff;
	}

	.footer .light {
		color: rgba(255, 255, 255, 0.7);
	}

	.footer .large {
		font-size: 175%;
	}

	.footer hr {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
	}


.footer-container {
	margin-bottom: 75px;
}

	.footer-container div {
		margin-top: 25px;
		margin-bottom: 25px;
	}

.footer > p:first-child {
    float: left;
    text-align: left;
    width: 33.3%; }

.footer > p:nth-child(2) {
    float: left;
    text-align: center;
    width: 33.4%; }

.footer > p:last-child {
    float: right;
    text-align: right;

/* Responsive Stlyes */

/* Mobile */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	
  	h1, h2, h3, h4, h5 {
			font-size: 130%;
		}

}

/* Tablets */

	@media only screen and (min-width : 768px) {
		h1, h2, h3, h4, h5 {
			font-size: 130%;
		}

		h1 {
			text-align: right;
			margin-top: 25px;
		}

		.hero-left {
			text-align: left;
		}

		.hero-left img {
			float:left;
		}

		.aacsb {
			margin-bottom: 50px;
		}

		.aacsb-box {
			border: 1px solid #0a67ad;
			border-radius: 3px;
		}

		.footer img {
			/*float: left;*/
		}
    }

	@media (min-width: 768px) and (orientation:landscape)  {
		h1 {
			text-align: left;
		}
		.hero-left img {
			float:none;
		}
	}

/* Desktop */

@media only screen and (min-width : 992px) {
	h1 {
		font-size: 200%;
	}
	h1 small {
		font-size: 75%;
		color: #818285;
	}
	h2,h3,h4,h5 {
		font-size: 175%;
	}
}
